PojoTstWSdelEJB/xml-resources/web-service-references/WSejb/wsdl/localhost_8080/WSdelEJB/WSejb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSejb/" name="WSejb">
<types>
<xsd:schema>
<xsd:import namespace="http://WSejb/" schemaLocation="http://localhost:8080/WSdelEJB/WSejb?xsd=1"/>
</xsd:schema>
</types>
<message name="sumaDos">
<part name="parameters" element="tns:sumaDos"/>
</message>
<message name="sumaDosResponse">
<part name="parameters" element="tns:sumaDosResponse"/>
</message>
<message name="getResult_ejb">
<part name="parameters" element="tns:getResult_ejb"/>
</message>
<message name="getResult_ejbResponse">
<part name="parameters" element="tns:getResult_ejbResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WSejb">
<operation name="sumaDos">
<input wsam:Action="http://WSejb/WSejb/sumaDosRequest" message="tns:sumaDos"/>
<output wsam:Action="http://WSejb/WSejb/sumaDosResponse" message="tns:sumaDosResponse"/>
</operation>
<operation name="getResult_ejb">
<input wsam:Action="http://WSejb/WSejb/getResult_ejbRequest" message="tns:getResult_ejb"/>
<output wsam:Action="http://WSejb/WSejb/getResult_ejbResponse" message="tns:getResult_ejbResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WSejb/WSejb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WSejb/WSejb/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WSejbPortBinding" type="tns:WSejb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumaDos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResult_ejb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSejb">
<port name="WSejbPort" binding="tns:WSejbPortBinding">
<soap:address location="http://localhost:8080/WSdelEJB/WSejb"/>
</port>
</service>
</definitions>